div.App {
  height: 100%;
  background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
}
.ctnFlex {
  display: flex;
  justify-content: space-between;
}
.op1 {
  width: 40px;
  display: inline-block;
  background-color: red;
  font-size: 3vw;
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
}

.op2 {
  width: 40px;
  background-color: green;
  display: inline-block;
  margin-right: px;
  font-size: 3vw;
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
}
.ctnFlex {
  display: flex;
  flex-wrap: wrap;
}

.newColumn {
  clear: both;
}
